
<h1><%= current_room.host.name %>'s Room: <%= current_room.name %> (<%= current_room.hashid %>)</h1>

<% if voter_owns_room? %>

  <%= form_with model: @new_poll do |f| %>
    You are the host

    <%= hidden_field_tag :room_id, current_room.id %>
    <%= f.submit %>
  <% end %>
<% end %>

<% if current_voter && @poll.present? %>
  <h4>Votes</h4>
  <% @poll.aggregate.each do |k, v| %>
    <%= k %> |
    <%= v %>
    <br>
  <% end %>

  <% Vote::OPTIONS.each do |option| %>
    <%= form_with model: @poll do |f| %>
      <%= hidden_field_tag :id, @poll.id %>
      <%= hidden_field_tag :room_id, current_room.id %>
      <%= hidden_field_tag 'votes_attributes[][value]', option %>
      <%= hidden_field_tag 'votes_attributes[][voter_id]', current_voter.id %>
      <% if (vote = current_voter.current_vote_for(@poll)).present? %>
        <%= hidden_field_tag 'votes_attributes[][id]', vote.id %>
      <% end %>
      <%= f.submit option %>
    <% end %>
  <% end %>
<% end %>

<% if !current_voter %>
  Enter your name to join the room

  <%= form_with model: Voter.new, local: true do |f| %>
    <%= hidden_field_tag :room_id, current_room.id %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
<% end %>
